# VCS service folders
.git/
.github/
.svn/

# NPM node_modules
node_modules/

# All root hidden files and folders
/.*

# Logs, scripts and backups..
*.log
*.md
*.sh
*.sql
*.dist
*.zip

# This folders will be populated by the GAE build system via the `composer install` command.
# This allows installations with a lot of plugins to not exceed the 10k file limit.
/vendor/
/web/wp/

web/app/plugins/
!web/app/plugins/.gitkeep
web/app/mu-plugins/
!web/app/mu-plugins/.gitkeep
web/app/themes/
!web/app/themes/.gitkeep
web/app/uploads/
web/app/upgrade/

# Htaccess files are ignored in App Engine
web/.htaccess
