# This files will be ingored in any Google Cloud deployment
# @see: https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore
#
# Use `gcloud meta list-files-for-upload` command to check which files will be uploaded

# VCS service folders
.git/
.github/
.svn/

# NPM node_modules
node_modules/

# All root hidden files and folders
/.*

# Logs, scripts and backups..
*.log
*.md
*.sh
*.sql
*.dist
*.zip

# This folders will be populated by the GAE build system via the `composer install` command.
# We must exclude only dynamic files because the `static_files` handler build before composer install and don't uploads the static files
# This helps installations with a lot of plugins to not exceed the 10k file limit.

/vendor/
/web/wp/**/*.php

/web/app/mu-plugins/*/*.php
!/web/app/mu-plugins/*.php
/web/app/plugins/**/*.php
/web/app/themes/**/*.php
/web/app/uploads/
/web/app/upgrade/

# Htaccess files are ignored in App Engine
web/.htaccess