.c9
.c9/
.devcontainer
.devcontainer/
.history
.history/
.git
.git/
.svn
.svn/
.github
.github

.appengine

node_modules/
/vendor

.env
.env.*

/log
*.log
*.md
*.sh
*.sql
*.dist
*.zip
.gitkeep

# web/app/plugins/**
# !web/app/plugins/.gitkeep
# web/app/mu-plugins/*/
# !web/app/mu-plugins/.gitkeep
!web/app/uploads/.gitkeep
# web/app/themes/**
# !web/app/themes/.gitkeep
web/app/uploads/
web/app/uploads/**
web/app/upgrade
web/app/upgrade/**

web/.htaccess
